<style>
  select {
    display: block;}
</style>

<div class="row">
  <div class="col s12 m6">
    <h4>New Survey Question</h4>

    <%= form_for [@survey, @survey, Question.new] do |questions_form| %>
      <p>
        <%= questions_form.label :question %>
        <%= questions_form.text_field :question %>
      </p>

      <p>
        <%= questions_form.label "Question Type" %>
        <%= select_tag(:question_id, options_for_select([["First", 1], ["Second", 2], ["Third", 3]])) %>
      </p>

      <p>
        <%= questions_form.submit %>
      </p>

    <% end %>

  </div>
</div>
